http://127.0.0.1:80 {
	handle /_proxy_health {
		respond "ok" 200
	}
}

{$SITE_DOMAIN} {
	root * /srv
	encode zstd gzip

	handle /_proxy_health {
		respond "ok" 200
	}

	handle_path /api/* {
		reverse_proxy backend:8000
	}

	handle /media/uploads/* {
		reverse_proxy backend:8000
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
