DEBUG=True
CORS_ORIGINS=https://your-domain.example,http://localhost:5173
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=matr_db
DB_PORT=5432
DB_DATABASE=matr_db
SECRET=change-me
SITE_DOMAIN=matryoshka.st.ifbest.org
