// ==========================================================================
// 1. БАЗОВАЯ ПАЛИТРА (Color Palette)
// ==========================================================================
$basic-light:       #fffaf3;
$basic-semilight:   #fff2db;
$basic-dark:        #ffe5bf; 
$basic-extra-dark:  mix($basic-dark, #000000, 5%);
$basic-accent:      #f62440; 

//$basic-light:         #bbdce5;
//$basic-semilight:     #eceedf; 
//$basic-dark:          #d9c4b0; 
//$basic-accent:        #cfab8d; 

// Фоны (Backgrounds)
$bg-main:          $basic-light;

// Текст (Typography)
$text-main:        #2C2C2C; 
$text-muted:       #757575;
$text-light:       $basic-semilight;

// Компоненты (Кнопки, ссылки, границы)
$link-color:             $basic-accent;
$border-color:           scale-color($basic-dark, $lightness: -10%);
$button-color:           $basic-dark;
$button-color-hover:     scale-color($basic-dark, $lightness: -10%);
// ==========================================================================
// 3. ВСПОМОГАТЕЛЬНЫЕ ПЕРЕМЕННЫЕ (Шрифты, Отступы и т.д.)
// ==========================================================================
$font-main:        'st-nizhegorodsky', sans-serif;
$font-secondary:   'Montserrat', sans-serif;
$base-spacing:     1rem; // 16px