@use "sass:color";

$basic-light: #fdfaf6;
$basic-semilight: #f6dcae;
$basic-dark: #e8ac5e;
$basic-extra-dark: #b9722e;
$basic-accent: #c9601f;

$bg-main: $basic-light;

$text-main: #1a1a1a;
$text-muted: #6b5b48;
$text-light: $basic-semilight;

$link-color: $basic-accent;
$border-color: $basic-accent;
$button-color: $basic-accent;
$button-color-hover: $basic-extra-dark;

$font-main: 'st-nizhegorodsky', sans-serif;
$font-secondary: 'Golos Text', sans-serif;
$base-spacing: 1rem;