@use './variables' as vars;

// Задаем базовые стили для html и body, чтобы была точка отсчета по высоте
html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: vars.$bg-main;
}

// Контейнер React-приложения превращаем во Flex-контейнер с вертикальной ориентацией
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Стили для твоего главного контента
main.appContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  
  // Ограничиваем по ширине и центрируем
  width: min(1180px, 100%);
  margin: 0 auto;
  // Добавляем боковые отступы 20px, чтобы контент не лип к экранам мобилок
  padding: 0 20px; 
  box-sizing: border-box;
}
// Необязательно, но полезно для стабильности футера
footer {
  flex: 0 0 auto; // Запрещает футеру сжиматься
}
body {
  margin: 0;
  background-color: vars.$bg-main;
}