@use './variables' as vars;

// Задаем базовые стили для html и body, чтобы была точка отсчета по высоте
html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: vars.$bg-main;
}

// Контейнер React-приложения превращаем во Flex-контейнер с вертикальной ориентацией
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; // Контент сможет растягивать страницу дальше, если его много
}

// Стили для твоего главного контента
main.appContent {
  flex: 1 0 auto; // Растягивается на все доступное пространство между header и footer
  display: flex;
  flex-direction: column;
  position: relative; // Если внутри понадобятся абсолютно позиционированные элементы
  width: 100%;
}

// Необязательно, но полезно для стабильности футера
footer {
  flex: 0 0 auto; // Запрещает футеру сжиматься
}
body {
  margin: 0;
  background-color: vars.$bg-main;
}