@use './variables' as vars;

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: vars.$bg-main;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.appContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  
  // Ограничиваем по ширине и центрируем
  width: min(1180px, 100%);
  margin-top: 40px;
  margin-left: auto; 
  margin-right: auto;
  // Добавляем боковые отступы 20px, чтобы контент не лип к экранам мобилок
  padding: 0 20px; 
  box-sizing: border-box;
}

footer {
  flex: 0 0 auto; // Запрещает футеру сжиматься
}
body {
  margin: 0;
  background-color: vars.$bg-main;
}