@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mixins;

.footer {
  background-color: #000;
  padding: 60px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  

  &__inner {
    width: min(100%, 1180px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    flex-shrink: 0;
    height: 60px;
    width: auto;
    color: vars.$bg-main; 
  }

  &__copyright {
    @include mixins.text-ordinary;
    color: vars.$bg-main;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
    opacity: 0.8;
  }
}
