@use '../styles/mixins' as mixins;
@use '../styles/variables' as vars;

.emptyText {
  @include mixins.text-ordinary;
  text-align: center;
  padding: 40px 0;
  font-size: 1.5rem;
  color: vars.$text-main;
}
